# Build output
bin/
obj/

# Rider / JetBrains
.idea/
*.sln.iml
*.DotSettings.user

# .NET
*.user
*.log

# OS
.DS_Store
Thumbs.db

# Dev
src/Skindexer.Api/appsettings.Development.json
docker-compose.override.yml
